<!DOCTYPE html>
<!-- Hey, this element and all of its children are now under the purview of Angular! -->
<!-- <html ng-app>
    <head>
        <meta charset="utf-8">
        <title>Angular</title>
        <script src="Angular_html_linking/bower_components/angular/angular.js" charset="utf-8"></script>
    </head>
    <body ng-init=" dojo='ninja' ">
        <h1>{{ dojo }}</h1>
    </body>
</html> -->
<!-- Now everything from the start of the html tag to the end of the html tag is controlled by an ng-app directive -->
<html ng-app= 'myApp'>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js" charset="utf-8"></script>
        <script type='text/javascript'>
        // The first perameter we pass to .module is the name, which is 'myApp'
        var myAppModule = angular.module('myApp', []); // We are able to instantiate our own mudule
        myAppModule.controller('studentsController', function ($scope){
            $scope.students = [
                {name: 'Mike', age: 34},
                {name: 'Quinten', age: 25},
                {name: 'Rob', age: 25}
            ]; // here we have moved our students' data into our controller and made it a proerty of $scope.
            $scope.addStudent = function(){
                $scope.students.push($scope.newStudent);
                $scope.newStudent = {};
            }
        });
        </script>
    </head>
    <body>
        <div ng-controller='studentsController'
        <ul>
                <li ng-repeat="student in students">{{ student.name }},{{ student.age }}</li>
            </ul>
            <h3>Add a new student!</h3>
            <form>
                Name: <input type='text' ng-model='newStudent.name'>
                Age: <input type='text' ng-model='newStudent.age'>
                <input type="submit" value="add new student" ng-click='addStudent()'>
            </form>
        </div>
        <h3>{{ 49567 * 2243 }}</h3>
        <h3ng-bind='49567 * 2243'></h3>
    </body>
</html>

<!-- The ng-click directive executed a method we assigned to $scope called addStudent().
The ng-click directive functions very much like the .click() jQuery handler (and by extension, the onClick html attribute).
Note: Similar functionality can be achieved using an ng-submit directive on the form tag.
The values in the form elements were added as a JSON object to the array using the standard .push() method on the $scope.students array.
Since we changed $scope data, the data-binding feature recognized that the data in the ng-repeat loop needed to be updated so one more list item was added to reflect this.
The ng-model directive created a new variable in our $scope called newStudent. The ng-model directive is what allows data on the VIEW side to be available to the $scope variable.
We will utilize the ng-model directive whenever we want to pass data to the controller. -->

<!-- The $scope variable is essential to the whole process. No $scope, no data binding. It is pivotal to recognize how we used $scope here. First, we used the ng-repeat directive to cycle
through data in $scope. Then, we used the ng-model directive to pass a JSON object to our addStudent $scope method using the ng-click directive and data flowed the opposite way
(from view to the controller). Make sure you're really comfortable with this before you move on. -->
